<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <search>
                <algolia_search_timeout>100</algolia_search_timeout>
            </search>
        </catalog>
    </default>
</config>
