<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <search>
                <algolia_connect_timeout>2</algolia_connect_timeout>
                <algolia_read_timeout>5</algolia_read_timeout>
            </search>
        </catalog>
        <algoliasearch_advanced>
            <search_adapter>
                <!-- placeholder for future fields -->
            </search_adapter>
        </algoliasearch_advanced>
    </default>
</config>
