<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <search>
                <algolia_connect_timeout>2</algolia_connect_timeout>
                <algolia_read_timeout>5</algolia_read_timeout>
                <algolia_seo_filters>1</algolia_seo_filters>
            </search>
        </catalog>
        <algoliasearch_backend>
            <algolia_backend_listing>
                <sort_param>product_list_order</sort_param>
            </algolia_backend_listing>
        </algoliasearch_backend>
    </default>
</config>
