<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="search">
                <field id="engine" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Search Engine</label>
                    <frontend_model>Algolia\SearchAdapter\Block\Adminhtml\System\Config\Engine</frontend_model>
                    <source_model>Magento\Search\Model\Adminhtml\System\Config\Source\Engine</source_model>
                </field>
                <field id="algolia_app_id" translate="label" type="text" sortOrder="61"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Algolia Application ID</label>
                    <frontend_model>Algolia\SearchAdapter\Block\Adminhtml\System\Config\ApplicationId</frontend_model>
                    <comment>
                        <model>Algolia\SearchAdapter\Model\Config\Comment\ApplicationIdComment</model>
                    </comment>
                    <depends>
                        <field id="engine">algolia</field>
                    </depends>
                </field>
                <field id="algolia_connect_timeout" translate="label" type="text" sortOrder="64"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Algolia Connection Timeout (in seconds)</label>
                    <comment>
                        <![CDATA[
                            Number of seconds to allow Algolia to respond to connection requests.
                        ]]>
                    </comment>
                    <depends>
                        <field id="engine">algolia</field>
                    </depends>
                </field>
                <field id="algolia_read_timeout" translate="label" type="text" sortOrder="65"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Algolia Read Timeout (in seconds)</label>
                    <comment>
                        <![CDATA[
                            Number of seconds to allow Algolia to perform read operations.
                        ]]>
                    </comment>
                    <depends>
                        <field id="engine">algolia</field>
                    </depends>
                </field>
                <field id="algolia_seo_filters" translate="label" type="select" sortOrder="66"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable SEO Friendly Filters</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                            Highly recommended when using InstantSearch alongside backend render.
                            When enabled, Magento’s backend renderer uses the same query-parameter format as InstantSearch,
                            ensuring a consistent experience and improving SEO by generating meaningful, indexable URLs.

                            <br></br>
                            Example: <code>?color=49</code> → <code>?color=blue</code>
                        ]]>
                    </comment>
                    <depends>
                        <field id="engine">algolia</field>
                    </depends>
                </field>
                <field id="algolia_test_connect" translate="button_label" sortOrder="68" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label/>
                    <button_label>Test Connection</button_label>
                    <frontend_model>Algolia\SearchAdapter\Block\Adminhtml\System\Config\TestConnection</frontend_model>
                    <depends>
                        <field id="engine">algolia</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="algoliasearch_instant">
            <group id="backend" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Backend Search Compatibility</label>
                <field id="enable_backend_render" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable backend rendering?</label>
                    <attribute type="expanded">1</attribute>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                            InstantSearch renders search results and product listings dynamically in the end user’s browser using JavaScript.
                            <br><br>
                            When backend rendering is enabled, search results can also be generated on the server side before the page is delivered.
                            This can be beneficial for SEO, ensuring that product listings are discoverable by search engine crawlers, and may also improve content visibility for LLM-based discovery.
                            <br><br>
                            Backend rendering can be enabled for all users, or selectively for specific user agents (for example, search engine bots),
                            while regular shoppers continue to use InstantSearch.
                            <br><br>
                            <strong>Important:</strong> Enabling backend rendering may result in additional Algolia API calls.
                            It is strongly recommended to enable Magento’s Full Page Cache to avoid duplicate requests and increased search usage.
                        ]]>
                    </comment>
                </field>
            </group>
        </section>
        <!-- TODO: Relocate to IS section -->
        <section id="algoliasearch_backend" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Backend Search Compatibility</label>
            <tab>algolia</tab>
            <resource>Algolia_AlgoliaSearch::algolia_algoliasearch</resource>
            <group id="algolia_backend_listing" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Products Listing</label>
                <attribute type="expanded">1</attribute>
                <comment>
                    <![CDATA[
                            These settings belong to the <code>Algolia_SearchAdapter</code> module.
                      ]]>
                </comment>
                <field id="sort_param" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Query String Parameters</label>
                    <source_model>Algolia\SearchAdapter\Model\Config\Source\SortParam</source_model>
                    <comment>
                        <model>Algolia\SearchAdapter\Model\Config\Comment\SortParam</model>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
